* {
  font-family: Segoe UI;
  background-color: ;
  margin: 0em auto;
  text-align: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
#timer {
  font-size: 256px;
  vertical-align: 
}
.button {
  position: fixed;
  height: 100%;
  top: 0;
  width: 200px;
  /*font-weight: bold;*/
  font-size: 32px;
  background-color: #7f8c8d;
}
.amount {
  font-size: 16px;
  color: rgba(0, 0, 0,0.5);
}
#auto {
  left: 0;
}
#tele {
  right: 0;
}
#plug {
  position: fixed;
  bottom: 0;
}
a:link {text-decoration: none; color: #2c3e50;}
a:visited {text-decoration: none;color: #2c3e50;}
a:hover {text-decoration: none;color: #95a5a6;}